/* Základní nastavení stránky */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

/* Hlavička */
header {
    background-color: #2e6f95;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

/* Sekce obsahu */
section {
    background-color: white;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

/* Nadpisy */
h2 {
    color: #2e6f95;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Obrázky */
img {
    max-width: 100%;
    border-radius: 6px;
    margin: 10px 0;
}

/* Seznamy */
ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Patička */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}/* ===== HISTORIE ===== */
#historie {
    background-color: #ffffff;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
}

#historie h2 {
    color: #2e6f95;
    margin-bottom: 15px;
}

#historie p {
    text-align: justify;
    margin-bottom: 12px;
    font-size: 16px;
}

#historie strong {
    color: #1b4965;
}

#historie em {
    font-style: italic;
}

